<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{"tabs.lab_queue" | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{"tabs.lab_queue" | translate}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-barcode-scanner style="height:100%;" (codeScanned)="scanned($event)" *ngIf="showScanner"></app-barcode-scanner>
  <app-user-list [people]="people" *ngIf="!showScanner"></app-user-list>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button (click)="toggleScanner()">
      <ion-icon name="barcode-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>