<ion-header>
  <ion-toolbar>
    <ion-title> {{"pages.settings.title" | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <!-- <ion-list-header>
      <ion-label>
        Single Selection
      </ion-label>
    </ion-list-header> -->

    <ion-item>
      <ion-label>{{"pages.settings.language" | translate}}</ion-label>
      <ion-select [value]="language" (ionChange)="languageChanged($event)" placeholder="Select Language">
        <ion-select-option value="de">German</ion-select-option>
        <ion-select-option value="en">English</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>{{"pages.settings.locations" | translate}}</ion-label>
      <ion-select multiple="true" value="brown" okText="Okay" cancelText="Dismiss">
        <ion-select-option value="10783">10783</ion-select-option>
        <ion-select-option value="02994">02994</ion-select-option>
      </ion-select>
    </ion-item>

  </ion-list>

</ion-content>