<ion-header>
  <ion-toolbar>
    <ion-title> {{"pages.login.title" | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="center">
  <form #form="ngForm" (ngSubmit)="login(form)">
    <ion-grid>
      <ion-row>
        <ion-col align-self-center>
          <div>
            <ion-item>
              <ion-input name="email" type="email" placeholder="your@email.com" ngModel required style="width: 400px">
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="password" type="password" placeholder="Password" ngModel required></ion-input>
            </ion-item>
          </div>
          <div>
            <ion-button type="submit" [disabled]="form.invalid" expand="block">Login</ion-button>
          </div>
        </ion-col>
      </ion-row>
      <ion-item>
        <ion-label>Krankenhaus:</ion-label>
        <ion-select value="10783" okText="Okay" cancelText="Dismiss">
          <ion-select-option value="10783">Charite Berlin</ion-select-option>
          <ion-select-option value="02994">Franziskus Krankenhaus</ion-select-option>
          <ion-select-option value="02994">Wenckebach-Klinikum</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-grid>
  </form>
</ion-content>