<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="untriaged-queue">
      <ion-icon name="timer-outline"></ion-icon>
      <ion-label>{{"tabs.untriaged_queue" | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="waiting-queue">
      <ion-icon name="hourglass-outline"></ion-icon>
      <ion-label>{{"tabs.waiting_queue" | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="lab-queue">
      <ion-icon name="pulse-outline"></ion-icon>
      <ion-label>{{"tabs.lab_queue" | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="result-queue">
      <ion-icon name="archive-outline"></ion-icon>
      <ion-label>{{"tabs.results" | translate}}</ion-label>
    </ion-tab-button>


    <ion-tab-button tab="settings">
      <ion-icon name="cog"></ion-icon>
      <ion-label>{{"pages.settings.title" | translate}}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>