<ion-list>
  <!-- <ion-list-header>
    Recent Conversations
  </ion-list-header> -->

  <ion-item *ngFor="let p of people" button (click)="buttonClick(p)">
    <ion-avatar slot="start">
      <ng-container [ngSwitch]="p.status">
        <svg viewBox="0 0 50 50" *ngSwitchCase="'red'">
          <circle r="25" cx="25" cy="25" style="fill:rgb(255,0,0)" />
        </svg>
        <svg viewBox="0 0 50 50" *ngSwitchCase="'yellow'">
          <circle r="25" cx="25" cy="25" style="fill:rgb(255, 255, 0)" />
        </svg>
        <svg viewBox="0 0 50 50" *ngSwitchCase="'green'">
          <circle r="25" cx="25" cy="25" style="fill:rgb(0, 255, 0)" />
        </svg>
      </ng-container>
    </ion-avatar>

    <ion-label>
      <ion-grid>
        <ion-row>
          <ion-col>
            <h2>{{p.id}}</h2>
          </ion-col>
          <ion-col>
            <h3>{{p.location}}</h3>
          </ion-col>
          <ion-col>
            <p>Preferred: {{p.testcenterAddress}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-label>
    <ion-button slot="end" *ngIf="p.queue == queue.Untriaged">
      Termin vergeben
    </ion-button>

    <ion-button disabled slot="end" *ngIf="p.queue == queue.Waiting">
      {{p.dateToBeInTestcenter}}
    </ion-button>

    <ion-button disabled slot="end" *ngIf="p.queue == queue.Result" [color]="p.result ? 'danger' : 'success'">
      {{p.testResult ? "POSTIV" : "NEGATIV" }}
    </ion-button>
  </ion-item>
</ion-list>